{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-center bg-light">
            <div class="col-12">
            <p class="lead fw-normal mt-4 text-center px-md-5">
                These simple recipes have been hand picked so they are easy for budding chefs with Special Educational Needs (SEN) to follow.</p>
            </div>
        </div>
    </div>
    <div class="row bg-light pt-5 pb-3">
        <div class="col-8">
            <div class="d-flex justify-content-start">
                <p class="px-md-2">View other people's comments and ratings to see which ones are popular, and log in to add your own feeback, or even submit your own recipe!
                </p>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end"> 
                <form class="d-flex mx-2 " method="GET" action="">
                    <select name="rating" id="rating">
                        <option>Filter by Rating</option>
                        <option value="5">5 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="2">2 Stars</option>
                        <option value="1">1 Star</option>
                        <option value="0">Unrated</option>
                        <option value="">All Recipes</option>
                    </select>
                    <button class="btn btn-sm btn-outline-success mx-2" type="submit">Apply Filter</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- Recipe Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipes %}
                               
                
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card list-card mx-sm-3 my-4">
                        <div class="card-body">
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                                <h2 class="card-title text-nowrap text-truncate pb-2 capitalize-title">{{ recipe.title }}</h2>
                            <div class="image-container">
                                {% if "placeholder" in recipe.featured_image.url %}
                                    <img class="card-img-top rounded" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                    {% load cloudinary_static %}
                                    <img class="card-img-top rounded img-fluid" src=" {{ recipe.featured_image.url }}"
                                        alt="{{ recipe.title }}">
                                {% endif %}
                            </div>
                            </a>
                            <div class="col">
                                <div class="mt-3">
                                    <div class="row">
                                        <h5>You will use:</h5>
                                        {% if recipe.baking %}
                                        <div class="col-2">
                                            <figure class="figure">
                                                <img src="{% static 'images/baking-sm.png' %}" class="figure-img img-fluid" alt="placeholder">    
                                            </figure>
                                        </div>
                                        {% endif %}
                    
                                        {% if recipe.chopping %}
                                        <div class="col-2">
                                            <figure class="figure">    
                                                <img src="{% static 'images/chopping-sm.png' %}" class="figure-img img-fluid" alt="placeholder"> 
                                            </figure>
                                        </div>
                                        {% endif %}
                    
                                        {% if recipe.frying %}
                                        <div class="col-2">
                                            <figure class="figure">    
                                                <img src="{% static 'images/frying-sm.png' %}" class="figure-img img-fluid" alt="placeholder">                                          
                                            </figure>    
                                        </div>
                                        {% endif %}
                    
                                        {% if recipe.hob_use %}
                                        <div class="col-2">
                                            <figure class="figure">
                                                <img src="{% static 'images/hob-sm.png' %}" class="figure-img img-fluid" alt="placeholder">  
                                            </figure>
                                        </div>
                                        {% endif %}
                    
                                        {% if recipe.mixing %}
                                        <div class="col-2">
                                            <figure class="figure">                      
                                                <img src="{% static 'images/mixing-sm.png' %}" class="figure-img img-fluid" alt="placeholder">
                                            </figure>                        
                                        </div>
                                        {% endif %}
                    
                                        {% if recipe.straining %}
                                        <div class="col-2">
                                            <figure class="figure">    
                                                <img src="{% static 'images/straining-sm.png' %}" class="figure-img img-fluid" alt="placeholder">
                                            </figure>
                                        </div>
                                        {% endif %}
                    
                                        {% if recipe.whisking %}
                                        <div class="col-2">
                                            <figure class="figure">                      
                                                <img src="{% static 'images/whisking-sm.png' %}" class="figure-img img-fluid" alt="placeholder">
                                            </figure>                      
                                        </div>
                                        {% endif %}
                    
                                        {% if recipe.microwaving %}
                                        <div class="col-2">
                                            <figure class="figure">
                                                <img src="{% static 'images/microwaving-sm.png' %}" class="figure-img img-fluid" alt="placeholder">
                                            </figure>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="pt-3">
                                <h6>Average Rating: 
                                    <span class="fa fa-star {% if recipe.average_rating > 0 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if recipe.average_rating > 1 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if recipe.average_rating > 2 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if recipe.average_rating > 3 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if recipe.average_rating > 4 %} checked {% endif %}"></span>
                                    <span class="ratings-count fw-bold">
                                        {% if recipe.ratings_count == 1 %}
                                            ({{ recipe.ratings_count }})
                                        {% elif recipe.ratings_count > 1 %}
                                            ({{ recipe.ratings_count }})
                                        {% else %}
                                            (<span class="fw-normal">No Ratings</span>)
                                        {% endif %}
                                    </span>
                                </h6>
                            </div>
                            
                            <p class="card-text text-muted h6">Submitted by: {{ recipe.owner}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination">
                {% if recipes.has_previous %}
                    <li class="page-item btn">
                        <a href="?page={{ recipes.previous_page_number }}&rating={{ rating_filter }}" class="btn btn-page-nav">&laquo; Previous Recipes</a>
                    </li>
                {% endif %}

                {% if recipes.has_next %}
                    <li class="page-item btn ms-auto">
                        <a href="?page={{ recipes.next_page_number }}&rating={{ rating_filter }}" class="btn btn-page-nav">More Recipes &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}