{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Recipe Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.featured_image.url }}"
                                    alt="{{ recipe.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="cooked_status">
                                        {% if recipe.cooked_status == 0 %}Not Cooked{% endif %}
                                        {% if recipe.cooked_status == 1 %}Cooked!{% endif %}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                            </a>
                            <p>You will use:</p>
                            <!-- if recipe.baking=True insert fontawesome icon / other image-->
                            <p class="baking">{{ recipe.baking }}</p><br /><br />

                            <hr />
                            <!-- <p>Average Rating: {{ average_rating|floatformat:1 }} stars</p> -->
                            <p>Average Rating:
                                <span class="fa fa-star {% if recipe.average_rating > 0 %} checked {% endif %}"></span>
                                <span class="fa fa-star {% if recipe.average_rating > 1 %} checked {% endif %}"></span>
                                <span class="fa fa-star {% if recipe.average_rating > 2 %} checked {% endif %}"></span>
                                <span class="fa fa-star {% if recipe.average_rating > 3 %} checked {% endif %}"></span>
                                <span class="fa fa-star {% if recipe.average_rating > 4 %} checked {% endif %}"></span>
                            </p>
                            
                            <p class="card-text text-muted h6">Added on: {{ recipe.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="list-inline">
            {% if page_obj.has_previous %}
            <li class="pagination justify-content-lg-start">
            <a href="?page={{ page_obj.previous_page_number }}"
                class="page-link">&laquo; Go Back</a>
            </li>
            {% endif %}    
            {% if page_obj.has_next %}
            <li class="pagination justify-content-lg-end">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link"> More Recipes &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}