{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- recipe_detail.html content start -->
<!-- Recipe Content -->
<div class="container recipe-container"> 
    <div class="row g-0 align-items-center bg-light rounded-top mt-5">
        <!-- Title -->
        <div class="row">
            <div class="col pt-5 pt-md-5 rounded-top">
                <h2 class="capitalize-title px-3">{{ recipe.title }}</h2>
            </div>
            <div class="pt-3">
                <hr>
                <!-- Average Rating -->
                <!-- Aria Label used to ensure average rating is visible to screen readers -->
                <a href="#" aria-label="Average rating: {{ average_rating }} out of 5"></a>
                <p class="px-3 h6">Average Rating: {{ recipe.average_rating }}
                    <span class="fa fa-star {% if average_rating > 0 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if average_rating > 1 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if average_rating > 2 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if average_rating > 3 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if average_rating > 4 %} checked {% endif %}"></span>
                    <span class="ratings-count mx-2">
                        {% if ratings_count == 1 %}
                            (<span class="fw-bold">{{ ratings_count }}</span> rating)
                        {% elif ratings_count > 1 %}
                            (<span class="fw-bold">{{ ratings_count }}</span> ratings)
                        {% else %}
                            (No ratings yet)
                        {% endif %}
                    </span>
                </p>
            </div>
            <!-- Comment Count -->
            <div class="px-3">
                <strong class="subheading fw-bold px-3">
                    <i class="far fa-comments"></i> {{ comment_count }}
                </strong>
            </div>
        </div>
    </div>
    <!-- Recipe Image -->
    <div class="row g-0 bg-light">
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
            <div class="m-3 px-md-3">
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="rounded img-fluid" src="{% static 'images/default.jpg' %}"
                    alt="placeholder image">
                {% else %}
                <img class="rounded img-fluid" src=" {{ recipe.featured_image.url }}"
                    alt="image for {{ recipe.title }}">
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="mt-3 px-3">
                <!-- Equipment Icons -->
                <div class="row">
                    <p class="h5">Equipment:</p>
                    {% if recipe.baking %}
                    <div class="col-2">
                        <figure class="figure">
                            <img src="{% static 'images/baking-sm.png' %}" class="figure-img img-fluid" alt="Baking icon image">
                            <figcaption class="figure-caption text-center d-none d-sm-block faded">Oven</figcaption>
                        </figure>
                    </div>
                    {% endif %}

                    {% if recipe.chopping %}
                    <div class="col-2">
                        <figure class="figure">    
                            <img src="{% static 'images/chopping-sm.png' %}" class="figure-img img-fluid" alt="Chopping icon image">
                            <figcaption class="figure-caption text-center d-none d-sm-block faded">Knife</figcaption>
                        </figure>
                    </div>
                    {% endif %}

                    {% if recipe.frying %}
                    <div class="col-2">
                        <figure class="figure">    
                            <img src="{% static 'images/frying-sm.png' %}" class="figure-img img-fluid" alt="Frying icon image">
                            <figcaption class="figure-caption text-center d-none d-sm-block faded">Frying</figcaption>
                        </figure>    
                    </div>
                    {% endif %}

                    {% if recipe.hob_use %}
                    <div class="col-2">
                        <figure class="figure">
                            <img src="{% static 'images/hob-sm.png' %}" class="figure-img img-fluid" alt="Hob icon image">
                            <figcaption class="figure-caption text-center d-none d-sm-block faded">Hob</figcaption>
                        </figure>
                    </div>
                    {% endif %}

                    {% if recipe.mixing %}
                    <div class="col-2">
                        <figure class="figure">                      
                            <img src="{% static 'images/mixing-sm.png' %}" class="figure-img img-fluid" alt="Mixing icon image">
                            <figcaption class="figure-caption text-center d-none d-sm-block faded">Mixing</figcaption>
                        </figure>                        
                    </div>
                    {% endif %}

                    {% if recipe.straining %}
                    <div class="col-2">
                        <figure class="figure">    
                            <img src="{% static 'images/straining-sm.png' %}" class="figure-img img-fluid" alt="Colander icon image">
                            <figcaption class="figure-caption text-center d-none d-sm-block faded">Colander</figcaption>
                        </figure>
                    </div>
                    {% endif %}

                    {% if recipe.whisking %}
                    <div class="col-2">
                        <figure class="figure">                      
                            <img src="{% static 'images/whisking-sm.png' %}" class="figure-img img-fluid" alt="Whisk icon image">
                            <figcaption class="figure-caption text-center d-none d-sm-block faded">Whisk</figcaption>
                        </figure>                      
                    </div>
                    {% endif %}

                    {% if recipe.microwaving %}
                    <div class="col-2">
                        <figure class="figure">
                            <img src="{% static 'images/microwaving-sm.png' %}" class="figure-img img-fluid" alt="Microwave icon image">
                            <figcaption class="figure-caption text-center d-none d-sm-block faded">Microwave</figcaption>
                        </figure>
                    </div>
                    {% endif %}
                </div>
                <!-- Ingredients -->
                <div>
                    <div class="py-3">
                        <p class="h5">You will need:</p>
                        {{ recipe.ingredients | safe }}   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instructions -->
    <div class="row">
        <div class="col">
            <div class="bg-light px-4 py-3"> 
            <p class="h4">Instructions:</p>
            <p class="subheading mt-3">Before you start, read through all of the instructions and wash your hands.</p>
                <div id="instructions-list">
                    {{ recipe.instructions | safe }}
                </div>
            </div>
        </div>
    </div>
    <!-- User Recipe Editing -->
    <div class="row">
        <div class="col">
            <div class="bg-light px-4 py-3 rounded-bottom">
                {% if recipe.owner == user %}
                    <a href="{% url 'recipe_edit' recipe.slug %}" class="btn btn-edit btn-sm" aria-label="Button to edit recipe as the recipe owner">Edit Recipe</a>
                    <button id="btn-recipe-delete" class="btn btn-delete btn-sm" data-recipe-slug="{{ recipe.slug }}">Delete Recipe</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Feedback -->
<div class="container recipe-container">
    <div class="row g-0 bg-light rounded my-3">
            <!-- Comments List -->
            <div class="col-lg-4">
                <div class="feedback-card px-md-3">
                    <div class="card-body">
                        <p class="h5 card-title sm-px-3 mt-2">Comments</p>
                        {% if comments %}
                            {% for comment in comments %}
                            <div class="card-text sm-px-3 comments
                                {% if not comment.approved and comment.author == user %}
                                faded{% elif not comment.approved %} d-none{% endif %}">
                                <p class="font-weight-bold">
                                    {{ comment.author }}
                                    <span class="font-weight-normal">
                                        {{ comment.created_on }}
                                    </span> wrote:
                                </p>
                                <div id="own_comment{{ comment.id }}">
                                    <p>{{ comment.own_comment | safe }}</p>
                                </div>
                                {% if not comment.approved and comment.author == user %}
                                <p class="approval">
                                    This comment is awaiting approval
                                </p>
                                {% endif %}
                                {% if user.is_authenticated and comment.author == user %}
                                <button class="btn btn-edit btn-comment-edit mb-2 mb-sm-0"
                                    data-comment-id="{{ comment.id }}">Edit Comment</button>
                                <button class="btn btn-delete btn-comment-delete" data-comment-id="{{ comment.id }}">Delete
                                    Comment</button>
                                {% endif %}
                            </div>
                            {% endfor %}
                        {% else %}
                            <p class="no-comments-message faded">There are no comments for this recipe yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Comment Form-->
            <div class="col-lg-4 mb-3">
                <div class="feedback-card px-md-3">
                    <div class="card-body">
                        <p class="h5 card-title md-px-3 mt-2">Leave a Comment</p>
                        <div class="card-text md-px-3">
                            {% if user.is_authenticated %}
                            <p class="faded">Commenting as: {{ user.username }}</p>
                            <form id="comment-form" method="POST" action="." data-recipe-slug="{{ recipe.slug }}">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button id="submitButton" type="submit" class="btn btn-signup">Submit Comment</button>
                            </form>
                            {% else %}
                            <!-- Message to display if not logged in -->
                            <p><a href="{% url 'account_login' %}" class="link" aria-label="Link to navigate to log in page">Log in</a> to leave a comment</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Rating Form -->
            <div class="col-lg-3 order-first">
                <div class="feedback-card px-md-3">
                    <div class="card-body">
                        <p class="h5 card-title pl-sm-3 mt-2">Rate This Recipe</p>
                        <div class="card-text pl-sm-3">
                            <!-- Prevents recipe owner from rating own recipe -->
                            {% if user.is_authenticated and recipe.owner == user %}
                                <p>Sorry, you are not permitted to rate your own recipe.</p>
                            {% else %}
                                {% if user.is_authenticated and recipe.owner != user %}
                                    {% if user_rating %}
                                    <!-- Aria Label used to ensure user rating is visible to screen readers -->
                                    <a href="#" aria-label="Your rating: {{ user_rating.rating }} out of 5"></a>
                                    <p>Your Rating:
                                        <span class="fa fa-star {% if user_rating.rating > 0 %} checked {% endif %}"></span>
                                        <span class="fa fa-star {% if user_rating.rating > 1 %} checked {% endif %}"></span>
                                        <span class="fa fa-star {% if user_rating.rating > 2 %} checked {% endif %}"></span>
                                        <span class="fa fa-star {% if user_rating.rating > 3 %} checked {% endif %}"></span>
                                        <span class="fa fa-star {% if user_rating.rating > 4 %} checked {% endif %}"></span>
                                    </p>
                                    <!-- Rating form .hidden if rating exists -->
                                    <form class="hidden" id="rating-form" method="POST">
                
                                        {% csrf_token %}
                                        <p>How many stars would you give {{ recipe.title }}?</p>
                                        <input type="hidden" name="form_id" value="rating_form">
                                        
                                        <div id="rating-radio-buttons">
                                            <input type="radio" id="1-star" name="rating" value="1">
                                            <label for="1-star">
                                                <span class="fa fa-star checked"></span></label><br>
                    
                                            <input type="radio" id="2-stars" name="rating" value="2">
                                            <label for="2-stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span></label><br>
                    
                                            <input type="radio" id="3-stars" name="rating" value="3">
                                            <label for="3-stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span></label><br>
                    
                                            <input type="radio" id="4-stars" name="rating" value="4">
                                            <label for="4-stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span></label><br>
                    
                                            <input type="radio" id="5-stars" name="rating" value="5" checked>
                                            <label for="5-stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span></label><br><br>
                                        </div>
                                        <button type="submit" class="btn btn-edit">Submit Rating</button>
                                    </form>
                                    <!-- Rating form .hidden class removed if Edit Rating button clicked -->
                                    <button id="edit-rating-btn" class="btn btn-edit" onclick="show_rating_form()">Edit Rating</button>
                                    {% else %}
                                    <!-- Rating form if no rating exists yet -->
                                    <p>You haven't submitted a rating for this recipe yet.</p>
                                    <form id="rating-form" method="POST">
                    
                                        {% csrf_token %}
                                        <p>How many stars would you like to give {{ recipe.title }}?</p>
                                        <input type="hidden" name="form_id" value="rating_form">
                    
                                        <div id="rating-radio-buttons">              
                                            <input type="radio" id="1-star" name="rating" value="1" checked>
                                            <label for="1-star">
                                                <span class="fa fa-star checked"></span></label><br>
                    
                                            <input type="radio" id="2-stars" name="rating" value="2">
                                            <label for="2-stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span></label><br>
                    
                                            <input type="radio" id="3-stars" name="rating" value="3">
                                            <label for="3-stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span></label><br>
                    
                                            <input type="radio" id="4-stars" name="rating" value="4">
                                            <label for="4-stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span></label><br>
                    
                                            <input type="radio" id="5-stars" name="rating" value="5">
                                            <label for="5-stars">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span></label><br><br>
                                        </div>
                                        <button type="submit" class="btn btn-edit">Submit Rating</button>
                                    </form>
                                    {% endif %}
                                {% else %}
                                    <!-- Message to display if not logged in -->
                                    <p>You need to <a href="{% url 'account_login' %}" class="link" aria-label="Link to navigate to log in page">log in</a> to leave a rating for this recipe.</p>
                                    <p>If you don't have an account, you can easily <a href="{% url 'account_signup' %}" class="link" aria-label="Link to navigate to Sign Up page">sign up</a> now.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
          

        


    </div>
</div>


<!-- Comment Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="deleteModalLabel">Delete comment?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Recipe Delete confirmation modal -->
<div class="modal fade" id="deleteRecipeModal" tabindex="-1" aria-labelledby="deleteRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="deleteRecipeModalLabel">Delete Recipe?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your recipe?
                All associated ratings and comments will also be deleted.
                This action cannot be undone.</p>

                <p>If you simply want to make changes to the recipe, 
                you can <a href="{% url 'recipe_edit' recipe.slug %}" class="link" aria-label="link to edit recipe page and recipe owner">edit your recipe</a>.</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteRecipeConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/recipes.js' %}"></script>
<!-- recipe_detail.html content end -->
{% endblock %}