body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.recipe-detail-title {
    padding-left: 5%;
}

.recipe-detail-subtitle {
    color: #026572;
 }

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #a9c2b8;
}

.recipe-detail-bg {
    background-color:#fafafa;
}

.list-card {
    border: solid 1px #979ba0;
    background-color: #fafafa;
}

.feedback-card {
    border: none;
    background-color: #fafafa;
}

.you-will-use-card {
    border: none;
}

.legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.input-group {
    display: none;
}

.signup-container {
    max-width: 525px;  
}

.image-container {
    position: relative;
}


/* .image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
} */


/* .author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
} */

.capitalize-title {
    text-transform: capitalize;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}


.recipe-link {
    text-decoration: none;
    color: #445261;
}


.recipe-link:hover,
.page-link {
    color: #039e7c;
}

.recipe-detail-avg-rating,
.recipe-title {
    margin-top: 0;
    margin-left: 0;
}


.btn-page-nav {
    background-color: #1e5a41;
    color: #fafafa;
    border: none;
    font-weight: 600;
}

.btn-page-nav:hover {
    background-color: #f9fdfc;
    color: #1e5a41;
}


.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
    border: none;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}


.btn-delete {
    color: #fff;
    background: #9c3136;
}


.btn-rate {
    background-color: #dbb508;
    color: #4A4A4F;
    border: 2px;
}

.faded {
    color: rgb(172, 175, 175);
}

.subheading {
    color: #774a4a;
    font-weight: 500;
}

.approval {
    color: rgb(222, 146, 168);
}

/* ------------------- Star Rating -------------------- */

.ratings-count {
    color:#188181;
    font-size: small;
}

/* .rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
} */

/* .rating-list li:hover,
.rating-list li:hover ~ li {
    color: orange;
} */

/* .rating-list {
    display: inline-block;
    list-style: none;
} */

.fa-star {
    color: #ddd;
}

.checked {
    color: orange;
}

.checked::before {
    color: orange;
}

input[type='radio']:after {
    color: orange;
} 

.hidden {
    display: none;
}

.display-element {
    display: block;
}