/* ------ Text styles ------ */

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.capitalize-title {
    text-transform: capitalize;
}

.thin {
    font-weight: 300;
}

.faded {
    color: rgb(74, 85, 85);
}

.subheading {
    color: #774a4a;
    font-weight: 500;
}

.approval {
    color: rgb(222, 146, 168);
}

/* ------ Background Colours ------ */
.main-bg {
    background-color: #a9c2b8;
}

.dark-bg {
    background-color: #445261;
}

.banner-bg {
    background-color: rgb(68, 82, 97, 0.7);
    color: #fff
}

/* ------ Cards ------ */
.list-card {
    border: solid 1px #979ba0;
    background-color: #fafafa;
}

.feedback-card {
    border: none;
    background-color: #fafafa;
}

/* ------ Containers ------ */
.signup-container {
    max-width: 525px;  
}

.recipe-container {
    max-width: 1200px;
}

.image-container {
    position: relative;
}

/* ------ Links ------ */
.banner-link {
    text-decoration: none;
    color: #f7cdec;
    font-weight: 600;    
}

.recipe-link {
    text-decoration: none;
    color: #4A4A4F;
    font-weight: 600;
}

.recipe-link:hover {
    color: #028568;
}

.link {
    color: #028568;
    text-decoration: none;
    font-weight: 600;
}

.link:hover,
.banner-link:hover,
.link:active {
    color: #774a4a;
    text-decoration: underline;
}

/* ------ Buttons ------ */
.btn-page-nav {
    background-color: #fff;
    color: #3f1e5a;
    border: none;
    font-weight: 500;
}

.btn-page-nav:hover {
    background-color: #3f1e5a;
    color: #fff;
}

.btn-signup,
.btn-edit {
    background-color: #0f5252;
    color: #fff;
    border: none;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #0f5252;
}

.btn-delete {
    color: #fff;
    background: #9c3136;
}

/* ------------------- Star Rating -------------------- */
.ratings-count {
    color:#0f5252;
}

.fa-star {
    color: #ddd;
}

.checked {
    color: orange;
}

.checked::before {
    color: orange;
}

input[type='radio']:after {
    color: orange;
} 

.hidden {
    display: none;
}

.display-element {
    display: block;
}

/* ------------------- Alert Messages -------------------- */
.message-overlay {
    position: fixed;
    top: 30px;
    z-index: 9999;
    width: auto;
    max-width: 400px;
}
