/* Text styles and background colours */

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.recipe-detail-title {
    padding-left: 5%;
}

.recipe-detail-subtitle {
    color: #026572;
 }

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.banner-bg {
    background-color: rgb(68, 82, 97, 0.6);
    color: #fafafa
}

.main-bg {
    background-color: #a9c2b8;
}

.recipe-detail-bg {
    background-color:#fafafa;
}

.list-card {
    border: solid 1px #979ba0;
    background-color: #fafafa;
}

.feedback-card {
    border: none;
    background-color: #fafafa;
}

.you-will-use-card {
    border: none;
}

.legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.input-group {
    display: none;
}


.signup-container {
    max-width: 525px;  
}

.recipe-container {
    max-width: 1200px;
}

.image-container {
    position: relative;
}


/* .image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
} */


.capitalize-title {
    text-transform: capitalize;
}


.recipe-detail-avg-rating,
.recipe-title {
    margin-top: 0;
    margin-left: 0;
}

.banner-link {
    text-decoration: none;
    color: #fab9ea;
    font-weight: 600;    
}

.recipe-link {
    text-decoration: none;
    color: #4A4A4F;
    font-weight: 600;
}


.recipe-link:hover {
    color: #039e7c;
}


.link {
    color: #039e7c;
    text-decoration: none;
    font-weight: 600;
}

.link:hover,
.banner-link:hover,
.link:active {
    color: #774a4a;
    text-decoration: underline;
}


.btn-page-nav {
    background-color: #fafafa;
    color: #1e5a41;
    border: none;
    font-weight: 500;
}

.btn-page-nav:hover {
    background-color: #1e5a41;
    color: #fafafa;
}


.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
    border: none;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}


.btn-delete {
    color: #fff;
    background: #9c3136;
}


.btn-rate {
    background-color: #dbb508;
    color: #4A4A4F;
    border: 2px;
}

.faded {
    color: rgb(172, 175, 175);
}

.subheading {
    color: #774a4a;
    font-weight: 500;
}

.approval {
    color: rgb(222, 146, 168);
}

/* ------------------- Star Rating -------------------- */

.ratings-count {
    color:#188181;
    font-size: small;
}


.fa-star {
    color: #ddd;
}

.checked {
    color: orange;
}

.checked::before {
    color: orange;
}

input[type='radio']:after {
    color: orange;
} 

.hidden {
    display: none;
}

.display-element {
    display: block;
}

